#будет игнорировать каталог tmp
tmp/

#будет игнорировать все файлы, заканчивающиеся суффиксами _old, _backup
*_backup
*_old

#будут игнорироваться все файлы и каталоги Thumbs.db
#вне зависимости от того, в каком каталоге они находятся
Thumbs.db

#будут игнорироваться все файлы и каталоги .DS_Store
#вне зависимости от того, в каком каталоге они находятся
.DS_Store
